{% extends 'base.html'%}
{% block title %}Messaging{% endblock %}
{% block main_content %}
	<aside class="sidebar-left-collapse">
        {% load static %}
		<a href="https://www.lsst.org/">
        <img border="0" alt="LSST" src="{% static "images/lsst_trans.png" %}" width="85" height="40">
        </a>
		<div class="sidebar-links">

			<div class="link selected">

				<a href="">
					<i class="fa fa-table"></i>Tables
                </a>
                <ul class="sub-links">
                    <form action="/display/time_query/" method="post">
                         {% csrf_token %}
                         Scoreboard(s):
                         {{form.choose_scoreboard}}
                         (YYYY,MM,DD,HH,MM,SS)
                        <br>
                         Start time:
                         {{form.start_time}}
                         <br>
                         End time:
                         {{form.end_time}}
                        <input type="submit" style="display: none" />
                    </form>
				</ul>


			</div>

            <div class="link">

				<a href="#">
					<i class="fa fa-keyboard-o"></i>Commendable Devices
				</a>

				<ul class="sub-links">
					<li><a href="#">AR Foreman</a></li>
					<li><a href="#">PP Foreman</a></li>
					<li><a href="#">All</a></li>
				</ul>

			</div>

			<div class="link">

				<a href="#">
					<i class="fa fa-forward"></i>Forwarders
				</a>

				<ul class="sub-links">
                    <li><a href="#">Archive Forwarders</a></li>
                    <li><a href="#">PP Forwarders</a></li>
					<li><a href="/display/forwarder2">Forwarder 2</a></li>
					<li><a href="/display/forwarder6">Forwarder 6</a></li>
					<li><a href="/display/forwarder12">Forwarder 12</a></li>
				</ul>

			</div>

			<div class="link">

				<a href="#">
					<i class="fa fa-arrows-alt"></i>Distributors
				</a>

				<ul class="sub-links">
					<li><a href="#">Link 1</a></li>
					<li><a href="#">Link 2</a></li>
					<li><a href="#">Link 3</a></li>
					<li><a href="#">Link 4</a></li>
				</ul>

			</div>

			<div class="link">

				<a href="#">
					<i class="fa fa-briefcase"></i>Jobs
				</a>

				<ul class="sub-links">
					<li><a href="#">Job State</a></li>
					<li><a href="#">Job Status</a></li>
					<li><a href="#">Visit</a></li>
					<li><a href="#">Session</a></li>
				</ul>

			</div>

            <div class="link">

				<a href="#">
					<i class="fa fa-picture-o"></i>Image IDs
				</a>

                <ul class="sub-links">
					<li><i class="fa fa-search" style="font-size: 18px;"></i>
						<form action="" method="GET">
                  			<input type="text" id="test" name="img_id"  placeholder="ID" />
                            <input type="submit" style="display: none" />
                        </form>
                    </li>
				</ul>

			</div>

		</div>

	</aside>

	<div class="main-content">

    {% if have_job_state %}
        <h2>
            JOB_STATE Scoreboard
        </h2>

        <table>
          <tr>
              <th>Time</th>
              {% for c in column_name_job_state %}
                <th>{{c}}</th>
              {% endfor %}
          </tr>
          {% for first_list in second_list_job_state %}
          <tr>
              {% for l in first_list %}
            <td>{{l}}</td>
              {% endfor %}
          </tr>
          {% endfor %}
        </table>
        <br>
        <br>
    {% endif %}

    {% if have_ack %}
        <h2>
            Ack Scoreboard
        </h2>

        <table>
          <tr>
              <th>Time</th>
              {% for c in column_name_ack %}
                <th>{{c}}</th>

              {% endfor %}
          </tr>
          {% for first_list in second_list_ack %}
          <tr>
              {% for l in first_list %}
              <td><time>{{l}}</time></td>
              {% endfor %}
          </tr>
          {% endfor %}
        </table>
        <br>
        <br>

    {% endif %}

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>

		$(document).ready(function(){
            $("button").click(function(){
                alert("Value: " + $("#test").val());
            });
        });

	</script>

    </div>

	{% endblock %}
</body>
</html>